#gdpr-cookies {
    position: fixed;
    bottom: 0px;
    padding: 25px;
    h6 {
        font-size: 13.5px;
        margin-bottom: 5px;
    }
    p {
        font-size: 13.5px;
        margin-bottom: 0px;
    }
    .custom-btn {
        margin-top: 10px;
        margin-bottom: 0px;
        padding: 7px 20px;
    }
}