.contact-info {
    iframe {
        height: 400px;
        width: 100%;
    }
}

// Mobile
@media (max-width: $screen-sm) {
    .contact-info {
        
        iframe {
            margin-top: 40px;
            height: 300px;
            width: 100%;
        }
    }
}

// Tablet
@media (min-width: $screen-sm) and (max-width: $screen-md) {
    .contact-info {
        
        iframe {
            margin-top: 40px;
            height: 300px;
            width: 100%;
        }
    }
}

// Small Screen
@media (min-width: $screen-md) and (max-width: $screen-lg) {
  
}

// Small Screen
@media (min-width: $screen-lg) and (max-width: 1460px) {
  
}