#footer {
    padding-top: 60px;
    padding-bottom: 15px;
    padding-left: 150px;
    padding-right: 150px;

    .logo {
        max-width: 330px;
    }

    #footer-menu {
        margin-top: 10px;

        li {
            margin-left: 25px;

            a {
                text-transform: uppercase;
                color: black;
                font-weight: 500;
            }
        }
    }

    hr {
        margin-top: 50px;
        border-color: black;
        margin-bottom: 20px;
    }

    .copyright {
        font-size: 14px;
    }

    .contact-info {
        font-size: 14px;
        margin-bottom: 15px;

        h6 {
            margin-right: 15px;
        }

        span {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .social {
        a {
            margin-left: 8px;
        }

        img {
            width: 18px;
        }
    }
}

// Mobile
@media (max-width: $screen-sm) {
    #footer {
        padding-top: 40px;
        padding-bottom: 5px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;

        .logo {
            max-width: 220px;
            margin-left: -30px;
        }

        #footer-menu {
            display: block !important;
            margin-top: 30px;

            li {
                margin-left: 0px;
                margin-top: 10px;
            }
        }

        hr {
            margin-top: 10px;
            width: 50%;
        }

        .contact-info {
            margin-top: 30px;
            margin-bottom: 30px;
            display: block !important;

            h6 {
                margin-bottom: 10px !important;
            }

            .info {
                display: block;
            }

            span {
                display: none;
            }

            .social {
                text-align: center !important;
                margin-top: 30px;
            }
        }
    }
}

// Tablet
@media (min-width: $screen-sm) and (max-width: $screen-md) {
    #footer {
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;

        #footer-menu {
            margin-top: 5px;

            li {
                margin-left: 20px;

                a {
                    font-size: 14px;
                    font-weight: normal;
                }
            }
        }

        hr {
            margin-top: 40px;
        }

        .contact-info {
            flex-wrap: wrap;
            margin-bottom: 25px;

            h6,
            a {
                font-size: 13px;
            }

            .social {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center !important;
                margin-top: 25px;
            }
        }

        .copyright {
            text-align: center;
            font-size: 13px;
        }
    }
}

// Small Screen
@media (min-width: $screen-md) and (max-width: $screen-lg) {}

// Small Screen
@media (min-width: $screen-lg) and (max-width: 1460px) {}