.portfolio-gallery {
    .nav-tabs {
        justify-content: center;
        border-bottom: 1px solid black;

        .nav-link {
            border: none;
            border-bottom: 3px solid white;
            color: black;
            font-weight: 400;
            margin: 0 10px;
            padding-top: 15px;
            padding-bottom: 15px;
            letter-spacing: 1px;
        }

        .nav-link.active {
            border: none;
            border-bottom: 3px solid black;
            font-weight: 500;
        }
    }

    .tab-content {
        padding: 40px 0 0 0;

        .custom-btn {
            margin-top: 40px;
        }
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 280px 280px 280px 280px;
        gap: 20px 20px;
        grid-template-areas:
            "p0 p0 p1 p3"
            "p0 p0 p2 p3"
            "p4 p6 p7 p7"
            "p5 p6 p7 p7";
    }

    .p0 {
        grid-area: p0;
    }

    .p1 {
        grid-area: p1;
    }

    .p2 {
        grid-area: p2;
    }

    .p3 {
        grid-area: p3;
    }

    .p4 {
        grid-area: p4;
    }

    .p5 {
        grid-area: p5;
    }

    .p6 {
        grid-area: p6;
    }

    .p7 {
        grid-area: p7;
    }
}

.gka-theme-portfolio-container {
    .clients-item {
        margin-top: 10px;
        margin-bottom: 10px;

        .image {
            height: 330px;
        }

        .caption {
            padding: 15px 25px;

            h5 {
                font-weight: 500;
                margin-bottom: 5px;
            }

            .title {
                font-size: 14px;
            }
        }


        .mask {
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.68531162464986) 0%, rgba(0, 0, 0, 0) 66%);
        }
    }
}

// Mobile
@media (max-width: $screen-sm) {
    .portfolio-gallery {
        .nav-tabs {
            flex-wrap: nowrap;
            overflow-y: scroll;
            justify-content: flex-start;

            .nav-item {
                max-width: 300px;
                flex-shrink: 0;
            }

            .nav-link {
                word-break: keep-all;
                padding-top: 0px;
                padding-bottom: 10px;
                font-size: 12px;
                letter-spacing: 0.8px;
            }
        }

        .tab-content {
            padding: 30px 0 0 0;

            .custom-btn {
                margin-top: 30px;
            }
        }

        .gallery-grid {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 80px 80px 80px 80px 80px;
            grid-template-areas:
                "p0 p0 p1"
                "p0 p0 p1"
                "p2 p4 p4"
                "p3 p4 p4"
                "p5 p6 p7";
        }
    }

    .gka-theme-portfolio-container {
        .clients-item {
            .image {
                height: 280px;
            }
        }
    }
}

// Tablet
@media (min-width: $screen-sm) and (max-width: $screen-md) {
    .portfolio-gallery {
        .gallery-grid {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 160px 160px 160px 160px;
        }
    }
    .gka-theme-portfolio-container {
        .clients-item {
            .image {
                height: 280px;
            }
        }
    }
}

// Small Screen
@media (min-width: $screen-md) and (max-width: $screen-lg) {}

// Small Screen
@media (min-width: $screen-lg) and (max-width: 1460px) {}