.gka-bundle-2cols-image-text {
    padding-top: 60px;
    padding-bottom: 60px;
    .image-wrap {
        .image {
            padding: 0 30px;
        }
    }
    .content-wrap {
        .content {
            padding: 30px;
        }
    }
    .custom-btn {
        margin-top: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
        margin-bottom: 15px;
    }
}

// Mobile
@media (max-width: $screen-sm) {
    .gka-bundle-2cols-image-text {
        padding-top: 30px;
        padding-bottom: 30px;
        .image-wrap {
            .image {
                padding: 0 15px;
            }
        }
        .content-wrap {
            .content {
                padding: 15px 15px 0 15px;
            }
        }
        .custom-btn {
            margin-top: 10px;
        }
        h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
            margin-bottom: 10px;
        }
    }
}

// Tablet
@media (min-width: $screen-sm) and (max-width: $screen-md) {
    .gka-bundle-2cols-image-text {
        padding-top: 30px;
        padding-bottom: 30px;
        .image-wrap {
            .image {
                padding: 0 15px;
            }
        }
        .content-wrap {
            .content {
                padding: 15px 15px 0 15px;
            }
        }
        .custom-btn {
            margin-top: 10px;
        }
        h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
            margin-bottom: 10px;
        }
    }
}

// Small Screen
@media (min-width: $screen-md) and (max-width: $screen-lg) {
  
}

// Small Screen
@media (min-width: $screen-lg) and (max-width: 1460px) {
  
}